<form method="post" action="/subscribe/" class="">
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />

    <div class="form-group">
        <input class="subscribe-email" type="email" name="email"  placeholder="youremail@example.com" />
        <iframe src="https://sharvenium.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:#F1F1F1; border-radius: 10px;" frameborder="0" scrolling="no"></iframe>

    </div>
</form>
